@import url("https://fonts.googleapis.com/css2?family=Festive&family=Lato:ital,wght@0,100;0,400;1,100&family=Shizuru&display=swap");


body {
  background-color: #afb1af !important;
  color: #000;
  margin: 10px;
  font-family: "Lato", sans-serif;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  padding: 3px;
  margin: 16px;
  box-shadow: 4px 4px 8px #c5c5c5, 
              -4px -5px 8px #8a8888; 
}

.button {
  color: #090909; 
  padding: 3px;
  margin: 16px; 
  font-size: 16px; 
  border-radius: 0.5em; 
  background: #e8e8e8; 
  border: 1px solid #e8e8e8; 
  transition: all .3s; 
  box-shadow: 4px 4px 8px #c5c5c5, 
              -4px -5px 8px #8a8888; 
}

textarea {
  color: #000;
  font-family: "Lato", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", serif;
  letter-spacing: 2px;
  justify-content: center;
  color: #000;
  padding-left: 15px;
}

p {
  margin-bottom: 1.5em;
}


/* ----- Horizontal Separator Bar -------- */ 
/* ----- under NavBar on each page ------- */                        
hr.rounded {
  border-top: 8px solid rgb(20, 88, 26);
  border-radius: 5px;
}

/* ----- For all forms used -------- */ 
/* ------ to create or edit  ------- */ 
.form-group {
  padding: 15px;
  max-width: 450px;
}

.App-logo {
  max-width: 150px;
  aspect-ratio: 1 / 1;
}
